body {
    background-image: url("DV.jpg");
    background-color: black;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

.namebox {
  display:flex;
}

